@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* BG IMAGE CSS  */
/* .bg-image {
	background: url(../assets/BG\ image/BG_image1.jpg);
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
} */


        /* HERO SECTION  */

        :root {
            --primary-color: #f9b008;
        }


		

        .herosection-circle {
            filter: blur(10px);
            -webkit-filter: blur(70px);
            position: relative;
			/* display: flex; */
            right: 200px;
            /* top: 10px; */
            bottom: 0px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #0190f6;
        }

        .outlineheading {
            font-weight: bolder;
            -webkit-text-stroke: 2px rgba(0, 0, 0);
            color: transparent;
        }

        .vide {
            position: absolute;
            right: 100px;
            top: 5%;
            width: 200px;
            height: 200px;
        }

        @media (max-width: 992px) {
            .vide {
                display: none;
            }
        }

        @media (max-width: 1250px) {
            .vide {
                width: 150px;
                height: 150px;
            }
        }
        
        /* HERO SECTION END */

		/* SCROLL CSS  */

        /* Scrolling of all pages */
        .scroll {
            overflow: hidden;
            width: 100%;
            font-family: 'Dancing Script';
            margin-top: 50px;
        }

        .scroll .scrolling-content {
            display: flex;
            white-space: nowrap;
            animation: scrolling-animation 20s linear infinite;
        }

        @keyframes scrolling-animation {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }

        .scroll .scrolling-img {
            display: inline-block;
            padding: 10px 20px;
            margin: 0 10px;
           
            color: rgb(119, 119, 119);
            border-radius: 10px;
        }

        /* Repeat the content for infinite scroll */
        .scroll .scrolling-content::after {
            content: "";
            display: inline-block;
            width: 100%;
        }

        .box {
            text-align: center;
        }

.activee{
	/* background-color: rgb(249,176,8); */
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8px;
	border-radius: 10px;
	border: 2px solid rgb(249,176,8);
	transition: 1s ease;
}
.activee:hover{
	background-color: rgb(249,176,8);
}

body {
	/* line-height: 1.5; */
	font-family: 'Poppins', sans-serif;
	/* font-weight: 400; */
	overflow-x: hidden;
	scroll-behavior: smooth;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:before, :after {
	box-sizing: border-box;
}



.nav-container {
	/* position: absolute; */
	width: 100%;
	height: 10vh;
	/* margin-top: 20px; */
	/* background-color: rgba(0, 0, 0, 0.6); */
	/* background-color: red; */
	align-content: center;
}

.row {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* background-color: rgba(0, 0, 0, 0.6); */

}

.v-center {
	align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* header */
.header {
	display: block;
	/* width: 100%; */
	position: relative;
	z-index: 99;
	/* padding:15px; */

}

.header-item {
	display: flex;
	justify-content: space-between;
}

.header .item-left {
	flex: 0 0 8%;
}

.header .logo a {
	font-size: 30px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
}

.header .item-center {
	flex: 0 0 66%;
}

.header .item-right {
	flex: 0 0 8%;
	display: flex;
	justify-content: flex-end;
}

.header .item-right a {
	text-decoration: none;
	font-size: 16px;
	color: #000000;
	display: inline-block;
	margin-left: 10px;
	transition: color 0.3s ease;
}

.header .menu>ul>li {
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}

.header .menu>ul>li>a {
	font-size: 15px;
	font-weight: 500;
	color: #000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu {
	position: absolute;
	z-index: 500;
	background-color: #ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top: 25px;
	opacity: 0;
	visibility: hidden;
}

@media(min-width: 992px) {
	.header .menu>ul>li.menu-item-has-children:hover .sub-menu {
		margin-top: 0;
		visibility: visible;
		opacity: 1;
	}
}

.header .menu>ul>li .sub-menu>ul>li {
	line-height: 1;
}

.header .menu>ul>li .sub-menu>ul>li>a {
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}

.header .menu>ul>li .single-column-menu {
	min-width: 280px;
	max-width: 350px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
	line-height: 1;
	display: block;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
	padding: 10px 0;
	display: inline-block;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu.mega-menu {
	left: 50%;
	transform: translateX(-50%);
}

.header .menu>ul>li .sub-menu.mega-menu-column-4 {
	max-width: 1100px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 15px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
	flex: 0 0 25%;
	padding: 0 15px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
	font-size: 16px;
	color: #ea4636;
	font-weight: 500;
	line-height: 1;
	padding: 10px 0;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
	text-align: center;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.header .menu>ul>li .sub-menu>ul>li>a:hover,
.header .item-right a:hover,
.header .menu>ul>li:hover>a {
	color: #ea4636;
}

.mobile-menu-head,
.mobile-menu-trigger {
	display: none;
}

/*responsive*/
@media(max-width: 991px) {

	.header .item-center {
		order: 3;
		flex: 0 0 100%;
	}

	.header .item-left,
	.header .item-right {
		flex: 0 0 auto;
	}

	.v-center {
		justify-content: space-around;
	}

	.header .mobile-menu-trigger {
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}

	.header .mobile-menu-trigger span {
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}

	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}

	.header .mobile-menu-trigger span:before {
		top: -6px;
	}

	.header .mobile-menu-trigger span:after {
		top: 6px;
	}

	.header .item-right {
		align-items: center;
	}

	.header .menu {
		position: fixed;
		width: 320px;
		background-color: #ffffff;
		left: 0;
		top: 0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}

	.header .menu.active {
		transform: translate(0%);
	}

	.header .menu>ul>li {
		line-height: 1;
		margin: 0;
		display: block;
	}

	.header .menu>ul>li>a {
		line-height: 50px;
		height: 50px;
		padding: 0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.header .menu>ul>li>a i {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}

	.header .menu .mobile-menu-head {
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top: 0;
	}

	.header .menu .mobile-menu-head .go-back {
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color: #000000;
		font-size: 16px;
		display: none;
	}

	.header .menu .mobile-menu-head.active .go-back {
		display: block;
	}

	.header .menu .mobile-menu-head .current-menu-title {
		font-size: 15px;
		font-weight: 500;
		color: #000000;
	}

	.header .menu .mobile-menu-head .mobile-menu-close {
		height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color: #000000;
		font-size: 25px;
	}

	.header .menu .menu-main {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.header .menu>ul>li .sub-menu.mega-menu,
	.header .menu>ul>li .sub-menu {
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin: 0;
		padding: 15px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}

	.header .menu>ul>li .sub-menu.active {
		display: block;
	}

	@keyframes slideLeft {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0%);
		}
	}

	@keyframes slideRight {
		0% {
			opacity: 1;
			transform: translateX(0%);
		}

		100% {
			opacity: 0;
			transform: translateX(100%);
		}
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
		margin-top: 0;
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
		margin-bottom: 20px;
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center:last-child .title {
		margin-bottom: 0px;
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
		flex: 0 0 100%;
		padding: 0px;
	}

	.header .menu>ul>li .sub-menu>ul>li>a,
	.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
		display: block;
	}

	.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul {
		margin-bottom: 15px;
	}

	.menu-overlay {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.6);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;
	}

	.menu-overlay.active {
		visibility: visible;
		opacity: 1;
	}
}

/* HOMEPAGE TIMELINE CSS START  */

.timeline{
	position: relative;
	max-width: 1200px;
	margin: 100px auto;
}

.time-cont{
	padding: 10px 15px;
	position: relative;
	width: 50%;
	animation: movedown 1s linear forwards;
	opacity: 0;
}

@keyframes movedown{
	0%{
		transform: translateY(-30px);
		opacity: 1;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.time-cont:nth-child(2){
	animation-delay: 1s;
}
.time-cont:nth-child(3){
	animation-delay: 2s;
}
.time-cont:nth-child(4){
	animation-delay: 3s;
}
.time-cont:nth-child(5){
	animation-delay: 4s;
}





.textbox-time{
	padding: 20px 30px;
	background-color: rgb(169, 169, 169);
	position: relative;
	border-radius: 6px;
	font-size: 15px;
}

.left-container{
	left: 0;
}

.right-container{
	left: 50%;
}

.time-cont img{
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
}

.right-container img{
	left: -20px;
}

.timeline::after{
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background-color: rgb(0, 0, 0);
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: -1;
	animation: moveline 4s linear forwards;
}

@keyframes moveline{
	0%{
		height: 0;
	}
	100%{
		height: 100%;
	}
}

.textbox-time h2{
	font-weight: 600;
}

.textbox-time small{
	display: inline-block;
	margin-bottom: 15px;
}

.left-cont-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid blue;
	right: -15px;
}

.right-cont-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid blue;
	left: -15px;
}

@media only screen and (max-width: 600px){
	.timeline{
		margin: 50px auto;
	}

	.timeline::after{
		left: 31px;
	}

	.time-cont{
		width: 100%;
		padding-left: 80px;
		padding-right: 25px;
	}

	.textbox-time{
		font-size: 13px;
	}

	.textbox-time small{
		margin-bottom: 10px;
	}

	.right-container{
		left: 0;
	}

	.left-cont-arrow, .right-cont-arrow{
		border-right: 15px solid #7c7c7c;
		border-left: 0;
		left: -15px;
	}
}

/* HOMEPAGE TIMELINE CSS END  */




/* ABOUT US CSS START  */


.about-sec {
	width: 100%;
	height: 100%;
}

.about-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 100px;
	padding: 50px 0;
}

.about-container .first-cont {
	/* width: 100%; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: rgb(0, 0, 0);
}

.first-cont .about-text {
	width: 20%;
}

.first-cont .about-text #one {
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.first-cont .about-text p {
	font-size: 20px;
	margin-top: 10px;
}

.first-cont .about-text h1 {
	font-size: 50px;
}

.first-cont .about-box {
	width: 45%;
	border: 2px solid rgb(249,176,8);
	padding: 35px;
	display: grid;
	place-items: center;
	margin: 20px;
	grid-template-columns: auto auto;
	grid-template-rows: 150px 150px 150px;
}

.first-cont .about-box .box-text-1 {
	width: 90%;
}

.first-cont .about-box .box-text-1 h4 {
	font-size: 25px;
	color: rgb(249,176,8);
}

.second-cont {
	/* width: 50%; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: rgb(0, 0, 0);
}

.second-cont .about-text1 {
	width: 30%;
}

.second-cont .about-text1 h3 {
	font-size: 45px;
	color: rgb(249,176,8);
	text-align: center;
}

.second-cont .about-text1 p {
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}

.third-cont {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: rgb(0, 0, 0);
	gap: 30px;
}

.third-cont .about-text3 p {
	font-size: 20px;
	color: #000000;
	text-align: center;
}

.third-cont .about-text3 h1 span {
	font-size: 50px;
	color: rgb(249,176,8);
	text-align: center;
	font-weight: 300;
}

.third-cont .about-text3 h1 {
	font-size: 50px;
	text-align: center;
}

.third-cont .about-boxes {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 50px;
}

.third-cont .about-boxes .box1 {
	border: 2px solid rgb(249,176,8);
	padding: 20px;
}

.third-cont .about-boxes .box1 #quo1 {
	font-size: 50px;
	color: #000000;
}

/* ABOUT US CSS END  */



/* PRODUCT PAGE CSS START  */
html {
	/*   *****   Storing Colors In Variables   *****  */
	--body-clr: #ffffff;
	--primary-clr: rgb(249,176,8);
	--primary-light-clr: #ffffff;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.portfolio {
	width: 100%;
	padding: 30px;
	background-color: var(--body-clr);
}

.portfolio .section-head {
	max-width: 700px;
	margin: 0px auto 25px;
	text-align: center;
}

.section-head h1 {
	position: relative;
	font-size: 32px;
	margin: 10px 0px 30px;
	color: var(--primary-clr);
}

.button-group {
	text-align: center;
	margin-bottom: 40px;
}

.button-group .button {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	background-color: #eaeaea;
	color: var(--primary-clr);
	font-style: 12px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.4s;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.button-group .button.active {
	background-color: var(--primary-clr);
	color: var(--body-clr);
}

.button-group .button:hover {
	background-color: var(--primary-clr);
	color: var(--body-clr);
}

div.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

div.gallery .item {
	/* border: 10px solid rgb(155, 155, 155); */
	/* position: relative; */
	
	margin: 4px;
	width: calc(20% - 8px);
	overflow: hidden;
	cursor: pointer;
	padding: 15px;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); */
	border-radius: 50px;
  /* background-color: #0a0a0a1b; */
}

.item .img-content{
	background-color: #dadada;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px;
}

.item .img-content .btn-pr{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	gap: 12px;
}

.item .img-content h1{
	font-size: 15px;
	color: #000000;
	font-weight: 900;
}
.item .img-content h4{
	font-size: 18px;
	color: #000000;
	font-weight: 500;
}

.item .img-content h6 strike{
	font-size: 14px;
	color: #000000;
	font-weight: 400;
}

.item .img-content .bi{
	font-size: 20px;
	color: rgb(249,176,8);
}

.item .img-content .buyNow{
	font-size: 16px;
	color: #000000;
	border: none;
	padding: 9px;
	border-radius: 12px;
	background-color: rgb(249,176,8);
	width: 100%;
	margin-top: 15px;
}

.item .img-content .viewPr{
	font-size: 16px;
	color: #ffffff;
	border: none;
	padding: 9px;
	border-radius: 12px;
	background-color: rgb(0, 0, 0);
	width: 100%;
	margin-top: 15px;
}

.item img {
	width: 100%;
	height: 40vh;
	object-fit: contain;
	display: block;
	transition: 0.3s;
}

.item .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); */
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
	padding: 15px;
	overflow: hidden;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
}

.item:hover .overlay {
	opacity: 1;
}

.item .overlay a {
	display: inline-block;
	padding: 8px 16px;
	/* border: 2px solid var(--body-clr); */
	color: rgb(249,176,8);
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
}

.item .overlay a:hover {
	background-color: var(--body-clr);
	color: var(--primary-clr);
}




@media(max-width: 1024px) {
	div.gallery .item {
		width: calc(50% - 8px);
	}
}

@media(max-width: 600px) {
	div.gallery .item {
		width: 100%;
		margin: 4px 0px;
	}
}

/* PRODUCT PAGE CSS END  */

/* FAQ CSS START  */

.faq-container {
    margin: 200px;
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-container h1 {
    color: #000000;
}
    

.faq-container .tab {
    position: relative;
    background-color: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
}

.faq-container .tab input {
    appearance: none;
}

.faq-container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq-container .tab label::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.faq-container .tab:hover label::after {
    color: #333;
}

.faq-container .tab input:checked ~ label::after {
    transform: rotate(135deg);
    color: #fff;
}

.faq-container .tab label h2 {
    width: 40px;
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}

.faq-container .tab input:checked ~ label h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px
}

.faq-container .tab:nth-child(2) label h2 {
    background: linear-gradient(135deg, #70f570, #d6d6d6);
}
.faq-container .tab:nth-child(3) label h2 {
    background: linear-gradient(135deg, #3c8ce7, #03eaff);
}
.faq-container .tab:nth-child(4) label h2 {
    background: linear-gradient(135deg, #ff96f9,#c32bac);
}
.faq-container .tab:nth-child(5) label h2 {
    background: linear-gradient(135deg, #fd6e6a, #ffc600);
}
.faq-container .tab:nth-child(6) label h2 {
    background: linear-gradient(135deg, #fd6e6a, #000000);
}

.faq-container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}

.faq-container .tab input:checked ~ label h3 {
    background-color: #fff;
    padding: 2px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.faq-container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.faq-container .tab input:checked ~ .content {
    max-height: 100vh;
}

.faq-container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

.faq-container .tab input:checked ~ .content p {
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .faq-container {
        margin: 100px;
    }

    .faq-container h1 {
        font-size: 1.5rem;
    }

    .faq-container .tab label h2 {
        width: 35px;
        height: 35px;
        font-size: 1.1em;
    }

    .faq-container .tab label h3 {
        font-size: 1rem;
    }

    .faq-container .tab input:checked ~ label h2 {
        font-size: 7em;
    }

    .faq-container .tab input:checked ~ label h3 {
        font-size: 0.9rem;
    }

    .faq-container .tab .content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .faq-container h1 {
        font-size: 1.25rem;
    }

    .faq-container .tab label h2 {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }

    .faq-container .tab input:checked ~ label h2 {
        font-size: 6em;
    }

    .faq-container .tab label h3 {
        font-size: 0.9rem;
    }

    .faq-container .tab .content p {
        font-size: 0.85rem;
    }
}

/* FAQ CSS END  */


/* CONTACT CSS START  */

#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #31279d;
}
.form-fields .error-message{
    color: red;
    font-size: 15px;
    position: relative;	
    left: 10px;
    top: 4px;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}

/* CONTACT CSS END  */

/* SLIDER SECTION START */
/*header section*/
.hero_area {
	position: relative;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
  }
  
  .hero_area .hero_bg_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
	overflow: hidden;
	z-index: -1;
  }
  
  .hero_area .hero_bg_box .bg_img_box {
	min-width: 100%;
	min-height: 100%;
  }
  
  .hero_area .hero_bg_box img {
	min-width: 100%;
	min-height: 100%;
  }

.slider_section {
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	position: relative;
	padding: 45px 0 145px 0;
  }
  
  .slider_section .row {
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .slider_section #customCarousel1 {
	width: 100%;
	position: unset;
  }
  
  .slider_section .detail-box {
	color: #00204a;
  }
  
  .slider_section .detail-box h1 {
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #929292;
  }
  
  .slider_section .detail-box p {
	color: #919191;
	font-size: 14px;
  }
  
  .slider_section .detail-box .btn-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -5px;
	margin-top: 25px;
  }
  
  .slider_section .detail-box .btn-box a {
	margin: 5px;
	text-align: center;
	width: 165px;
  }
  
  .slider_section .detail-box .btn-box .btn1 {
	display: inline-block;
	padding: 10px 15px;
	background-color: #00bbf0;
	color: #a3a3a3;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
  }
  
  .slider_section .detail-box .btn-box .btn1:hover {
	background-color: #007fa4;
  }
  
  .slider_section .detail-box .btn-box .btn2 {
	display: inline-block;
	padding: 10px 15px;
	background-color: #000000;
	color: #939393;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
  }
  
  .slider_section .detail-box .btn-box .btn2:hover {
	background-color: black;
  }
  
  .slider_section .img-box {
	margin: 45px 0;
  }
  
  .slider_section .img-box img {
	width: 100%;
	-webkit-animation: upDown 5s infinite;
			animation: upDown 5s infinite;
  }
  
  @-webkit-keyframes upDown {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
	50% {
	  -webkit-transform: translateY(45px);
			  transform: translateY(45px);
	}
	100% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
  }
  
  @keyframes upDown {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
	50% {
	  -webkit-transform: translateY(45px);
			  transform: translateY(45px);
	}
	100% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
  }
  
  .slider_section .carousel-indicators {
	position: unset;
	margin: 0;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .slider_section .carousel-indicators li {
	background-color: #a7a7a7;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	opacity: 1;
  }
  
  .slider_section .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	background-color: #00bbf0;
  }

/* SLIDER SECTION END */



/* HOMEEE  */

.container1{
	/* width: 100%; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 70px;
	flex-wrap: wrap;
}

.box1{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 30px;
}

.box1 .explore{
	color: #0190f6;
	font-family: "Dancing Script";
	font-weight: bold;
}
.box1 h1{
	font-size: 5cqmax;
	font-weight: bold;
}
.box1 .welcome{
	font-size: 1cqmax;
	width: 300px;
	/* width: 70%; */
	font-weight: bold;
}
.Mper{
	width: 100%;
	display: flex;
	align-items: center;
}

.Mper .discover span{
	color: #0190f6;
	font-weight: 700;
	font-family: "Dancing Script";
}

.Mper .discover{
	width: 45%;
	font-size: 1.5cqmax;
	margin-left: 10px;
}
.Tpercent .percent{
	width: 15%;
	color: #0190f6;
	font-size: 2cqmax;
	text-align: center;
	padding: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 2px solid #0190f6;
	margin-top: 10px;
	margin-bottom: 20px;
}
.Tpercent .percent p{
	font-size: 2cqmax;
}

.Tpercent h3{
	font-size: 15px;
}
.Tpercent .offer{
	font-size: 10px;
	margin-bottom: 10px;
}

.box1 .button1 button{
	color: white;
	background: #ff8800;
	border: none;
	padding: 10px;
	border-radius: 10px;
	width: 150px;
	transition: .5s all ease;

	&:hover{
		color: rgb(255, 255, 255);
		background-color: #f5982d;
	}
}

.box1 h1 span{
	color: #ff8800;
	font-family: "Dancing Script";
}

.box2 img{
	width: 100%;
}

@media only screen and (max-width: 850px){
	.container1{
		flex-direction: column;
	}

	.box1{
		width: 70%;
		margin-left: 0;
	}
}

@media only screen and (max-width: 400px){
	.box1 .welcome{
		font-size: 1cqmax;
		width: 40%;
	}
} 


/* REVEAL  */

        /* REVEAL ELEMENTS ON SCROLL  */

        .box1{
            opacity: 0;
            transition: all 1.3s;
            transform: translateX(-20%);
        }
        .show{
            opacity: 1;
            transform: translateX(0);
        }

        .amazing{
            opacity: 0;
            transition: all 2s;
            transform: translateX(-15%);
        }
        .show1{
            opacity: 1;
            transform: translateX(0);
        }

        .button1{
            opacity: 0;
            transition: all 2s;
            transform: translateX(-10%);
        }
        .show2{
            opacity: 1;
            transform: translateX(0);
        }

        .box2{
            opacity: 0;
            transition: all 1s;
            transform: scale(0);
        }
        .show3{
            opacity: 1;
            transform: scale(1);
        }

        /* FOR SECTION 2 ANIMATE  */

        .animate1{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate2{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate3{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate4{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate5{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate6{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate7{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate8{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate9{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateIcon1{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateIcon2{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateButton{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateImage{
            opacity: 0;
            transition: all 1s;
            transform: scale(0);
        }


        .show4{
            opacity: 1;
            transform: translateX(0);
        }

        .show5{
            opacity: 1;
            transform: scale(1);
        }

        /* ACCOMODATION ANIMATE  */

        .acc-anime1{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-anime2{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }


        .acc-img1{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-img2{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-img3{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-anime3{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .acc-anime4{
            opacity: 0;
            transition: all 1.5s;
            transform: translateX(-10%);
        }

        .acc-anime5{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .acc-anime6{
            opacity: 0;
            transition: all 1.5s;
            transform: translateX(-10%);
        }

        .acc-anime7{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .acc-anime8{
            opacity: 0;
            transition: all 1.5s;
            transform: translateX(-10%);
        }

        .acc-anime9{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-anime10{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-anime11{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-anime12{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-Accordian{
            opacity: 0;
            transition: all 1s;
            transform: scale(0);
        }

        .show6{
            opacity: 1;
            transform: translateY(0);
        }

        .show7{
            opacity: 1;
            transform: translateX(0);
        }

        .show8{
            opacity: 1;
            transform: scale(1);
        }