@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* BG IMAGE CSS  */
/* .bg-image {
	background: url(../assets/BG\ image/BG_image1.jpg);
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
} */

.activee{
	/* background-color: rgb(0, 234, 255); */
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8px;
	border-radius: 10px;
	border: 2px solid rgb(0, 234, 255);
	transition: 1s ease;
}
.activee:hover{
	background-color: rgb(0, 234, 255);
}

.bg-video {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-content {
	text-align: center;
}

.bg-content h1 {
	font-size: 95px;
	color: #fff;
	margin-bottom: 50px;
}

.bg-content a {
	font-size: 23px;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	padding: 15px 25px;
	border-radius: 50px;
	transition: 0.3s;
}

.bg-content a:hover {
	background-color: #fff;
	color: #000;
}

#background-clip {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
	#background-clip {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	#background-clip {
		width: auto;
		height: 100%;
	}
}

/* .bg-container{ */
/* position: fixed; */
/* background-color: white;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(60deg, #000000 , #9B0001);
	background-size: 600% 600%;
	animation: bgAnimatedGradient 5s linear infinite;
}

.bg-container h1{
	text-align: center;
	padding-top: 25%;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 6px;
	font-size: 4vw;
	color: #ffffff;
}

@keyframes bgAnimatedGradient{
	0%{
		background-position: 0 85%;
	}
	50%{
		background-position: 100% 20%;
	}
	100%{
		background-position: 0 85%;
	}
} */

/* END  */

body {
	/* line-height: 1.5; */
	font-family: 'Poppins', sans-serif;
	/* font-weight: 400; */
	overflow-x: hidden;
	scroll-behavior: smooth;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:before, :after {
	box-sizing: border-box;
}



.container {
	/* position: absolute; */
	width: 100%;
	height: 10vh;
	/* margin-top: 20px; */
	/* background-color: rgba(0, 0, 0, 0.6); */
	/* background-color: red; */
	align-content: center;
}

.row {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* background-color: rgba(0, 0, 0, 0.6); */

}

.v-center {
	align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* header */
.header {
	display: block;
	/* width: 100%; */
	position: relative;
	z-index: 99;
	/* padding:15px; */

}

.header-item {
	display: flex;
	justify-content: space-between;
}

.header .item-left {
	flex: 0 0 8%;
}

.header .logo a {
	font-size: 30px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
}

.header .item-center {
	flex: 0 0 66%;
}

.header .item-right {
	flex: 0 0 8%;
	display: flex;
	justify-content: flex-end;
}

.header .item-right a {
	text-decoration: none;
	font-size: 16px;
	color: #000000;
	display: inline-block;
	margin-left: 10px;
	transition: color 0.3s ease;
}

.header .menu>ul>li {
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}

.header .menu>ul>li>a {
	font-size: 15px;
	font-weight: 500;
	color: #000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu {
	position: absolute;
	z-index: 500;
	background-color: #ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top: 25px;
	opacity: 0;
	visibility: hidden;
}

@media(min-width: 992px) {
	.header .menu>ul>li.menu-item-has-children:hover .sub-menu {
		margin-top: 0;
		visibility: visible;
		opacity: 1;
	}
}

.header .menu>ul>li .sub-menu>ul>li {
	line-height: 1;
}

.header .menu>ul>li .sub-menu>ul>li>a {
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}

.header .menu>ul>li .single-column-menu {
	min-width: 280px;
	max-width: 350px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
	line-height: 1;
	display: block;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
	padding: 10px 0;
	display: inline-block;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu.mega-menu {
	left: 50%;
	transform: translateX(-50%);
}

.header .menu>ul>li .sub-menu.mega-menu-column-4 {
	max-width: 1100px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 15px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
	flex: 0 0 25%;
	padding: 0 15px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
	font-size: 16px;
	color: #ea4636;
	font-weight: 500;
	line-height: 1;
	padding: 10px 0;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
	text-align: center;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.header .menu>ul>li .sub-menu>ul>li>a:hover,
.header .item-right a:hover,
.header .menu>ul>li:hover>a {
	color: #ea4636;
}

.mobile-menu-head,
.mobile-menu-trigger {
	display: none;
}

/*responsive*/
@media(max-width: 991px) {

	.header .item-center {
		order: 3;
		flex: 0 0 100%;
	}

	.header .item-left,
	.header .item-right {
		flex: 0 0 auto;
	}

	.v-center {
		justify-content: space-around;
	}

	.header .mobile-menu-trigger {
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}

	.header .mobile-menu-trigger span {
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}

	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}

	.header .mobile-menu-trigger span:before {
		top: -6px;
	}

	.header .mobile-menu-trigger span:after {
		top: 6px;
	}

	.header .item-right {
		align-items: center;
	}

	.header .menu {
		position: fixed;
		width: 320px;
		background-color: #ffffff;
		left: 0;
		top: 0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}

	.header .menu.active {
		transform: translate(0%);
	}

	.header .menu>ul>li {
		line-height: 1;
		margin: 0;
		display: block;
	}

	.header .menu>ul>li>a {
		line-height: 50px;
		height: 50px;
		padding: 0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.header .menu>ul>li>a i {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}

	.header .menu .mobile-menu-head {
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top: 0;
	}

	.header .menu .mobile-menu-head .go-back {
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color: #000000;
		font-size: 16px;
		display: none;
	}

	.header .menu .mobile-menu-head.active .go-back {
		display: block;
	}

	.header .menu .mobile-menu-head .current-menu-title {
		font-size: 15px;
		font-weight: 500;
		color: #000000;
	}

	.header .menu .mobile-menu-head .mobile-menu-close {
		height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color: #000000;
		font-size: 25px;
	}

	.header .menu .menu-main {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.header .menu>ul>li .sub-menu.mega-menu,
	.header .menu>ul>li .sub-menu {
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin: 0;
		padding: 15px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}

	.header .menu>ul>li .sub-menu.active {
		display: block;
	}

	@keyframes slideLeft {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0%);
		}
	}

	@keyframes slideRight {
		0% {
			opacity: 1;
			transform: translateX(0%);
		}

		100% {
			opacity: 0;
			transform: translateX(100%);
		}
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
		margin-top: 0;
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
		margin-bottom: 20px;
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center:last-child .title {
		margin-bottom: 0px;
	}

	.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
		flex: 0 0 100%;
		padding: 0px;
	}

	.header .menu>ul>li .sub-menu>ul>li>a,
	.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
		display: block;
	}

	.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul {
		margin-bottom: 15px;
	}

	.menu-overlay {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.6);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;
	}

	.menu-overlay.active {
		visibility: visible;
		opacity: 1;
	}
}

/* HOMEPAGE TIMELINE CSS START  */

.timeline{
	position: relative;
	max-width: 1200px;
	margin: 100px auto;
}

.time-cont{
	padding: 10px 15px;
	position: relative;
	width: 50%;
	animation: movedown 1s linear forwards;
	opacity: 0;
}

@keyframes movedown{
	0%{
		transform: translateY(-30px);
		opacity: 1;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.time-cont:nth-child(2){
	animation-delay: 1s;
}
.time-cont:nth-child(3){
	animation-delay: 2s;
}
.time-cont:nth-child(4){
	animation-delay: 3s;
}
.time-cont:nth-child(5){
	animation-delay: 4s;
}
.time-cont:nth-child(6){
	animation-delay: 5s;
}





.textbox-time{
	padding: 20px 30px;
	background-color: rgb(169, 169, 169);
	position: relative;
	border-radius: 6px;
	font-size: 15px;
}

.left-container{
	left: 0;
}

.right-container{
	left: 50%;
}

.time-cont img{
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
}

.right-container img{
	left: -20px;
}

.timeline::after{
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background-color: rgb(0, 0, 0);
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: -1;
	animation: moveline 6s linear forwards;
}

@keyframes moveline{
	0%{
		height: 0;
	}
	100%{
		height: 100%;
	}
}

.textbox-time h2{
	font-weight: 600;
}

.textbox-time small{
	display: inline-block;
	margin-bottom: 15px;
}

.left-cont-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid blue;
	right: -15px;
}

.right-cont-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid blue;
	left: -15px;
}

@media only screen and (max-width: 600px){
	.timeline{
		margin: 50px auto;
	}

	.timeline::after{
		left: 31px;
	}

	.time-cont{
		width: 100%;
		padding-left: 80px;
		padding-right: 25px;
	}

	.textbox-time{
		font-size: 13px;
	}

	.textbox-time small{
		margin-bottom: 10px;
	}

	.right-container{
		left: 0;
	}

	.left-cont-arrow, .right-cont-arrow{
		border-right: 15px solid #7c7c7c;
		border-left: 0;
		left: -15px;
	}
}

/* HOMEPAGE TIMELINE CSS END  */




/* ABOUT US CSS START  */


.about-sec {
	width: 100%;
	height: 100%;
}

.about-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 100px;
	padding: 50px 0;
}

.about-container .first-cont {
	/* width: 100%; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: rgb(0, 0, 0);
}

.first-cont .about-text {
	width: 20%;
}

.first-cont .about-text #one {
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.first-cont .about-text p {
	font-size: 20px;
	margin-top: 10px;
}

.first-cont .about-text h1 {
	font-size: 50px;
}

.first-cont .about-box {
	width: 45%;
	border: 2px solid rgb(0, 234, 255);
	padding: 35px;
	display: grid;
	place-items: center;
	margin: 20px;
	grid-template-columns: auto auto;
	grid-template-rows: 150px 150px 150px;
}

.first-cont .about-box .box-text-1 {
	width: 90%;
}

.first-cont .about-box .box-text-1 h4 {
	font-size: 25px;
	color: rgb(0, 234, 255);
}

.second-cont {
	/* width: 50%; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: rgb(0, 0, 0);
}

.second-cont .about-text1 {
	width: 30%;
}

.second-cont .about-text1 h3 {
	font-size: 45px;
	color: rgb(0, 234, 255);
	text-align: center;
}

.second-cont .about-text1 p {
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}

.third-cont {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: rgb(0, 0, 0);
	gap: 30px;
}

.third-cont .about-text3 p {
	font-size: 20px;
	color: #000000;
	text-align: center;
}

.third-cont .about-text3 h1 span {
	font-size: 50px;
	color: rgb(0, 234, 255);
	text-align: center;
	font-weight: 300;
}

.third-cont .about-text3 h1 {
	font-size: 50px;
	text-align: center;
}

.third-cont .about-boxes {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 50px;
}

.third-cont .about-boxes .box1 {
	border: 2px solid rgb(0, 234, 255);
	padding: 20px;
}

.third-cont .about-boxes .box1 #quo1 {
	font-size: 50px;
	color: #000000;
}

/* ABOUT US CSS END  */



/* PRODUCT PAGE CSS START  */
html {
	/*   *****   Storing Colors In Variables   *****  */
	--body-clr: #ffffff;
	--primary-clr: rgb(0, 234, 255);
	--primary-light-clr: #ffffff;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.portfolio {
	width: 100%;
	padding: 30px;
	background-color: var(--body-clr);
}

.portfolio .section-head {
	max-width: 700px;
	margin: 0px auto 25px;
	text-align: center;
}

.section-head h1 {
	position: relative;
	font-size: 32px;
	margin: 10px 0px 30px;
	color: var(--primary-clr);
}

.button-group {
	text-align: center;
	margin-bottom: 40px;
}

.button-group .button {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	background-color: #eaeaea;
	color: var(--primary-clr);
	font-style: 12px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.4s;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.button-group .button.active {
	background-color: var(--primary-clr);
	color: var(--body-clr);
}

.button-group .button:hover {
	background-color: var(--primary-clr);
	color: var(--body-clr);
}

div.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

div.gallery .item {
	/* border: 10px solid rgb(155, 155, 155); */
	/* position: relative; */
	
	margin: 4px;
	width: calc(20% - 8px);
	overflow: hidden;
	cursor: pointer;
	padding: 15px;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); */
	border-radius: 50px;
  /* background-color: #0a0a0a1b; */
}

.item .img-content{
	background-color: #dadada;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px;
}

.item .img-content .btn-pr{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	gap: 12px;
}

.item .img-content h1{
	font-size: 15px;
	color: #000000;
	font-weight: 900;
}
.item .img-content h4{
	font-size: 18px;
	color: #000000;
	font-weight: 500;
}

.item .img-content h6 strike{
	font-size: 14px;
	color: #000000;
	font-weight: 400;
}

.item .img-content .bi{
	font-size: 20px;
	color: rgb(0, 234, 255);
}

.item .img-content .buyNow{
	font-size: 16px;
	color: #000000;
	border: none;
	padding: 9px;
	border-radius: 12px;
	background-color: rgb(0, 234, 255);
	width: 100%;
	margin-top: 15px;
}

.item .img-content .viewPr{
	font-size: 16px;
	color: #ffffff;
	border: none;
	padding: 9px;
	border-radius: 12px;
	background-color: rgb(0, 0, 0);
	width: 100%;
	margin-top: 15px;
}

.item img {
	width: 100%;
	height: 40vh;
	object-fit: contain;
	display: block;
	transition: 0.3s;
}

.item .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); */
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
	padding: 15px;
	overflow: hidden;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
}

.item:hover .overlay {
	opacity: 1;
}

.item .overlay a {
	display: inline-block;
	padding: 8px 16px;
	/* border: 2px solid var(--body-clr); */
	color: rgb(0, 234, 255);
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
}

.item .overlay a:hover {
	background-color: var(--body-clr);
	color: var(--primary-clr);
}




@media(max-width: 1024px) {
	div.gallery .item {
		width: calc(50% - 8px);
	}
}

@media(max-width: 600px) {
	div.gallery .item {
		width: 100%;
		margin: 4px 0px;
	}
}

/* PRODUCT PAGE CSS END  */

/* FAQ CSS START  */

.faq-container {
    margin: 200px;
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-container h1 {
    color: #000000;
}
    

.faq-container .tab {
    position: relative;
    background-color: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
}

.faq-container .tab input {
    appearance: none;
}

.faq-container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq-container .tab label::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.faq-container .tab:hover label::after {
    color: #333;
}

.faq-container .tab input:checked ~ label::after {
    transform: rotate(135deg);
    color: #fff;
}

.faq-container .tab label h2 {
    width: 40px;
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}

.faq-container .tab input:checked ~ label h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px
}

.faq-container .tab:nth-child(2) label h2 {
    background: linear-gradient(135deg, #70f570, #d6d6d6);
}
.faq-container .tab:nth-child(3) label h2 {
    background: linear-gradient(135deg, #3c8ce7, #03eaff);
}
.faq-container .tab:nth-child(4) label h2 {
    background: linear-gradient(135deg, #ff96f9,#c32bac);
}
.faq-container .tab:nth-child(5) label h2 {
    background: linear-gradient(135deg, #fd6e6a, #ffc600);
}
.faq-container .tab:nth-child(6) label h2 {
    background: linear-gradient(135deg, #fd6e6a, #000000);
}

.faq-container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}

.faq-container .tab input:checked ~ label h3 {
    background-color: #fff;
    padding: 2px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.faq-container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.faq-container .tab input:checked ~ .content {
    max-height: 100vh;
}

.faq-container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

.faq-container .tab input:checked ~ .content p {
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .faq-container {
        margin: 100px;
    }

    .faq-container h1 {
        font-size: 1.5rem;
    }

    .faq-container .tab label h2 {
        width: 35px;
        height: 35px;
        font-size: 1.1em;
    }

    .faq-container .tab label h3 {
        font-size: 1rem;
    }

    .faq-container .tab input:checked ~ label h2 {
        font-size: 7em;
    }

    .faq-container .tab input:checked ~ label h3 {
        font-size: 0.9rem;
    }

    .faq-container .tab .content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .faq-container h1 {
        font-size: 1.25rem;
    }

    .faq-container .tab label h2 {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }

    .faq-container .tab input:checked ~ label h2 {
        font-size: 6em;
    }

    .faq-container .tab label h3 {
        font-size: 0.9rem;
    }

    .faq-container .tab .content p {
        font-size: 0.85rem;
    }
}

/* FAQ CSS END  */


/* CONTACT CSS START  */

#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #31279d;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}



/* CONTACT CSS END  */